.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/copyright/profiles_settings.xml
/.idea/graddle.xml
/.idea/misc.xml
/.idea/modules.xml
/app/app.iml
/.idea/.name